{% extends 'app_main/base.html' %}
{% load static %}
{% block content %}

<h2>Localhost Availability</h2>

<p>In total, {{available.count}} localhost availabilities are found. </p>
<div class="container">
  <label for="sel1">Sort by (select one):</label>
  <div class="input-group mb-3">
      <select class="form-control" id="sel1">
        <option>1. start date</option>
        <option>2. end date</option>
        <option>3. localhost</option>
        <option>4. country</option>
      </select>
        <div class="input-group-append">
            <button class="btn btn-success" type="submit">Yes, order this way!</button>
        </div>
  </div>

</div>

<br>

{% for item in available %}
<div class="media border p-3">

        <p><img src="{{item.user.profilehost.photo.url}}" alt="Profile Pictrue" class="mr-3 mt-3" style="width:108px;"></p>

  <div class="media-body">
       <h5 style="">
           {{item.start_date|date:"Y M d, D" }} - {{item.end_date|date:"Y M d, D" }}

        </h5>
        <i style="color: grey; display: inline">
            <a href="{% url 'profile_host' item.user.id %}" >
                {{item.user.username.title}}
            </a>
        </i>

        <p>{{item.extra_info|slice:":100"}}...</p>
        <p>
            {%if item.summary %}
                <span class="badge badge-primary">{{item.summary}}</span>
            {% else %}
                <span class="badge badge-secondary">???Mysterious Location</span>
            {% endif %}
        </p>

  </div>
</div>

{% endfor %}


{% endblock %}