{% extends 'app_main/base.html' %}
{% load static %}
{% block content %}

<h2>Localhost Availability</h2>

<p>In total, {{available.count}} localhost availabilities are found. </p>
<div class="container">
  <label for="sel1">Sort by (select one):</label>
    <form action="" method="post">
        {% csrf_token %}
      <div class="input-group mb-3">
        <select class="form-control" id="sel1" name="select">
            <option value="1">Start date</option>
            <option value="2">End date</option>
            <option value="3">Localhost</option>
            <option value="4">Summary</option>
        </select>
        <div class="input-group-append">
            <button class="btn btn-success" type="submit">Yes, order this way!</button>
        </div>
      </div>
    </form>
</div>

<br>

{% for item in available %}
<div class="media border p-3">
  <p><img src="{{item.user.profilehost.photo.url}}" alt="Profile Pictrue" class="mr-3 mt-3" style="width:108px;"></p>
  <div class="media-body">
        <h5 style="">
           {{item.start_date|date:"Y M d, D" }} - {{item.end_date|date:"Y M d, D" }}
            <a href="{% url 'app_main:calendar_available' item.user.id %}"> <i class="fa fa-calendar" href=""></i></a>

        </h5>

        <i style="color: grey; display: inline">
            <a href="{% url 'profile_host' item.user.id %}" >
                {{item.user.username.title}}
            </a>
        </i>


        <p>{{item.extra_info|slice:":100"}}...</p>
        <p>
            {%if item.summary %}
                <span class="badge badge-primary">{{item.summary}}</span>
            {% else %}
                <span class="badge badge-secondary">???Mysterious Location</span>
            {% endif %}
        </p>

  </div>
</div>
{% endfor %}
{% endblock %}


{% block script %}
    <script>
        $(function() {
            $('.form-control').val( {{selected}} );
        });
    </script>
{% endblock %}