{% extends 'app_main/base.html' %}
{% load static %}
{% block content %}

<div class="jumbotron">
  <img src="{% static 'pic/tts_logo.png' %}" alt="logo" class="mx-auto d-block">
  <br>
  <p>A FREE webapp that allow travelers to share a few words with the locals,
in the form of a talk, a lecture, a speech, a workshop. Local organizations like
NGOs, schools, communities, or co-ops could help to make this happen. </p>
</div>

<h3>What we want to achieve? </h3>

<div class="row">
  <div class="col bg-light text-center border" style="padding: 12px; margin: 4px"><i class="fa fa-money fa-4x d-block"></i><h2>Free</h2> <p>No Charge forever</p></div>
  <div class="col bg-light text-center border" style="padding: 12px; margin: 4px"><i class="fa fa-globe fa-4x d-block"></i><h2>Global</h2> <p>world-wide traveling</p></div>
  <div class="col bg-light text-center border" style="padding: 12px; margin: 4px"><i class="fa fa-connectdevelop fa-4x d-block"></i><h2>Connect</h2> <p>offer meets need</p></div>
  <div class="col bg-light text-center border" style="padding: 12px; margin: 4px"><i class="fa fa-commenting-o fa-4x d-block"></i><h2>Communicate</h2><p>talk and listen</p></div>
</div>
<br>

<h3>Want to join us? </h3>
<div class="card-columns">
  <div class="card" style="background:#baf8fc">
    <div class="card-body text-center">
      <p class="card-text"><h3>Travelers</h3></p>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-check-square-o"></i> Register as a Traveler </li>
        <li><i class="fa-li fa fa-check-square-o"></i> Complete your profile </li>
        <li><i class="fa-li fa fa-check-square-o"></i> Tell us what you offer </li>
        <li><i class="fa-li fa fa-check-square-o"></i> Add your trip details </li>
        <li><i class="fa-li fa fa-check-square-o"></i> Connect with Local hosts! </li>
      </ul>
    </div>
  </div>

  <div class="card bg-light">
    <div class="card-body text-center">
      <p class="card-text"><h3>Coming Trips</h3>
        <i class="fa fa-handshake-o fa-5x"></i>
    </div>
  </div>

  <div class="card" style="background:#baf8fc">
    <div class="card-body text-center">
      <p class="card-text"><h3>Localhosts</h3></p>
       <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square-o"></i> Register as a LocalHost </li>
          <li><i class="fa-li fa fa-check-square-o"></i> Complete organization profile </li>
          <li><i class="fa-li fa fa-check-square-o"></i> Tell us what you want </li>
          <li><i class="fa-li fa fa-check-square-o"></i> Add your space and availability </li>
          <li><i class="fa-li fa fa-check-square-o"></i> Connect with Travelers! </li>
        </ul>
    </div>
  </div>

</div>
{% endblock %}