{% extends 'app_main/base.html' %}
{% load static %}
{% block content %}

<div class="jumbotron shadow-lg p-4 mb-4 bg-white">
  <img src="{% static 'pic/tts_logo.png' %}" alt="logo" class="mx-auto d-block">
  <br>
  <p style="font-family: futura">A FREE webapp that provides the platform for travelers to share their experience, stories and skills with the locals,
in the form of a talk/speech, series of workshops or others. On the other hand, locals could benefit from these
      kind of on-site events while local organizations act like the localhosts to help make this happen by organizing those events.
  This platform is a dedicated virtual space that aiming to make this exchange as easy as possible. </p>
</div>

<br>
<h3>What is this about? </h3>

<div class="row shadow-lg p-4 mb-4 bg-white">
  <div class="col bg-light text-center border" style="padding: 12px; margin: 4px"><i class="fa fa-money fa-4x d-block"></i><h2>Free</h2> <p>No charge</p></div>
  <div class="col bg-light text-center border" style="padding: 12px; margin: 4px"><i class="fa fa-globe fa-4x d-block"></i><h2>Global</h2> <p>Every corner of the world</p></div>
  <div class="col bg-light text-center border" style="padding: 12px; margin: 4px"><i class="fa fa-connectdevelop fa-4x d-block"></i><h2>Connect</h2> <p>Offer meets need</p></div>
  <div class="col bg-light text-center border" style="padding: 12px; margin: 4px"><i class="fa fa-commenting-o fa-4x d-block"></i><h2>Communicate</h2><p>Talk and listen</p></div>
</div>
<br>

<h3>Want to join us?</h3>
<div class="card-columns shadow-lg p-4 mb-4 bg-white">
  <div class="card" style="background:#baf8fc">
    <div class="card-body text-center">
      <p class="card-text"><h3>Travelers</h3></p>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-check-square-o"></i> Register as a Traveler </li>
        <li><i class="fa-li fa fa-check-square-o"></i> Complete your profile </li>
        <li><i class="fa-li fa fa-check-square-o"></i> Tell us what you offer </li>
        <li><i class="fa-li fa fa-check-square-o"></i> Add your trip details </li>
        <li><i class="fa-li fa fa-check-square-o"></i> Connect with Local hosts! </li>
      </ul>
    </div>
  </div>

  <div class="card border-0 align-self-end">
    <div class="card-body text-center">
      <p class="card-text"><h3>Coming Trips</h3>
        <i class="fa fa-handshake-o fa-5x"></i></p>
    </div>
  </div>

  <div class="card" style="background:#baf8fc">
    <div class="card-body text-center">
      <p class="card-text"><h3>Localhosts</h3></p>
       <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square-o"></i> Register as a LocalHost </li>
          <li><i class="fa-li fa fa-check-square-o"></i> Complete organization profile </li>
          <li><i class="fa-li fa fa-check-square-o"></i> Tell us what you want </li>
          <li><i class="fa-li fa fa-check-square-o"></i> Add your space and availability </li>
          <li><i class="fa-li fa fa-check-square-o"></i> Connect with Travelers! </li>
        </ul>
    </div>
  </div>

</div>


{% endblock %}