{% extends 'app_main/base.html' %}
{% load static %}
{% block content %}

<div class="jumbotron">
  <img src="{% static 'pic/tts_logo.png' %}" alt="logo" class="mx-auto d-block">
  <br>
  <p>A FREE webapp that allow travelers to share a few words with the locals,
in the form of a talk, a lecture, a speech, a workshop. Local organizations like
NGOs, schools, communities, or co-ops could help to make this happen. </p>
</div>

<div class="card-columns">
  <div class="card" style="background:#baf8fc">
    <div class="card-body text-center">
      <p class="card-text"><h3>Travelers</h3></p>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-check-square"></i> Register as a Traveler </li>
        <li><i class="fa-li fa fa-check-square"></i> Complete your profile </li>
        <li><i class="fa-li fa fa-check-square"></i> Tell us what you offer </li>
        <li><i class="fa-li fa fa-check-square"></i> Add your trip details </li>
        <li><i class="fa-li fa fa-check-square"></i> Connect with Local hosts! </li>
      </ul>
    </div>
  </div>

  <div class="card bg-light">
    <div class="card-body text-center">
      <p class="card-text"><h3>Coming Trips</h3>
    </div>
  </div>

  <div class="card" style="background:#baf8fc">
    <div class="card-body text-center">
      <p class="card-text"><h3>Localhosts</h3></p>
       <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square"></i> Register as a LocalHost </li>
          <li><i class="fa-li fa fa-check-square"></i> Complete organization profile </li>
          <li><i class="fa-li fa fa-check-square"></i> Tell us what you want </li>
          <li><i class="fa-li fa fa-check-square"></i> Add your space and availability </li>
          <li><i class="fa-li fa fa-check-square"></i> Connect with Travelers! </li>
        </ul>
    </div>
  </div>

</div>
{% endblock %}