{% extends 'app_main/base.html' %}
{% load static %}
{% block content %}

<h3>Local Hosts</h3>
<br>
<div class="card-columns">
    {% for item in profile %}
    <div class="card" style="width:180px;">

        <img class="card-img-top rounded-circle img-fluid" src="{{item.photo.url}}" alt="Card image">
        <div class="card-body" style="padding:2px">

            <div class="card-title">
                <a href="{% url 'profile_host' item.user_id %}" class="stretched-link">
                    {% if item.name %}
                        {{item.name.title}}
                    {% else %}
                        {{item.user.username.title}}
                    {% endif %}
                </a>
            </div>
            <small class="card-text">
                <p>{{item.type}}</p>
                <p>{{item.address}}</p>
            </small>

        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}