{% extends 'app_main/base.html' %}

{% block content %}

  <h2>Welcome {{user.username}}!</h2>

  <p class="lead">Please choose the following options</p>

    <ul>
        {% if user.is_authenticated %}
            {% if user.type == '0' %}
                <li><a href="{% url 'profile_traveler' user.id %}" class="btn btn-info btn-lg" role="button">Review profile</a>
                </li>
                <br>
                <li><a href="{% url 'profile_update_traveler' %}" class="btn btn-info btn-lg" role="button">Update profile</a>
                </li>
                <br>
                <li><a href="{% url 'program_add' %}" class="btn btn-info btn-lg" role="button">Add Program</a>
                </li>

            {% elif user.type == '1' %}
                <li><a href="{% url 'profile_host' user.id  %}" class="btn btn-info btn-lg" role="button">Review profile</a>
                </li>
                <br>
                <li><a href="{% url 'profile_update_host' %}" class="btn btn-info btn-lg" role="button">Update profile</a>
                </li>
                <br>
                <li><a href="{% url 'space_add' %}" class="btn btn-info btn-lg" role="button">Add Space</a>
                </li>

            {% endif %}
        {% endif %}
    </ul>

{% endblock %}