{% extends 'app_main/base.html' %}
{% load static %}

{% block content %}

<h3>Travelers</h3>
<br>
<p>In total {{profile.count}} travelers published their profiles at the moment</p>
<br>

<div class="card-columns">
    {% for item in profile %}
    <div class="card stretched-link" style="width:180px;">
        <div class="card-header text-center" style="padding: 0px">
            <img class="card-img-top rounded-circle" src="{{item.photo.url}}" alt="Card image" style="width:40px; height:40px">
            <a href="{% url 'profile_traveler' item.user.id %}">
                {% if item.user.first_name %}
                    {{item.user.first_name.title}}
                {% else %}
                    {{item.user.username.title}}
                {% endif %}
            </a>
        </div>

      <div class="card-body" style="padding: 2px">
            <p class="card-text">
                {%if item.expertise.all %}
                    {% for e in item.expertise.all %}
                        <p><button type="button" class="btn btn-primary btn-sm"><small>{{ e.topic }}</small></button></p>
                    {% endfor %}
                {% else %}
                    <p><button type="button" class="btn btn-secondary btn-sm"><small>Not Yet Provided</small></button></p>
                {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
