{% extends 'app_main/base.html' %}
{% load static %}

{% block content %}

<h3>Travelers</h3>
<br>
<p>In total, {{profile.count}} travelers published their profiles at the moment</p>
<br>

{% for item in profile %}

    <div class="media border p-3">
        <p><img src="{{item.photo.url}}" alt="John Doe" class="mr-3 mt-3" style="width:108px;"></p>

  <div class="media-body">
       <h4 style="">
            <a href="{% url 'profile_traveler' item.user_id %}" >
                {% if item.user.first_name %}
                    {{item.user.first_name.title}} {{item.user.last_name.title}}
                {% else %}
                    {{item.user.username.title}}
                {% endif %}
            </a>
        </h4>
        <small><i style="color: grey; display: inline"> Joined on {{item.user.date_joined}}</i></small>

    <p>{{item.bio|slice:":250"}}...</p>
    <p>
        {%if item.languages.all %}
            {% for l in item.languages.all %}
                <span class="badge badge-primary"><small>{{l.language}}</small></span>
            {% endfor %}
        {% else %}
            <span class="badge badge-secondary"><small>No yet provided</small></span>
        {% endif %}
    </p>

  </div>
</div>

{% endfor %}

{% endblock %}
