{% extends 'app_main/base.html' %}
{% load static %}

{% block content %}

<h3>Travelers</h3>
<br>
<div class="card-columns">
    {% for item in profile %}
    <div class="card" style="width:180px;">
        <div class="card-header text-center">
            {% if item.user.first_name %}
                {{item.user.first_name.title}}
            {% else %}
                {{item.user.username.title}}
            {% endif %}
        </div>

        <img class="card-img-top rounded-circle" src="{{item.photo.url}}" alt="Card image">
        <div class="card-body">
            <p class="card-text"><small>Some example text.<a href="#"> Read more</a></small></p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
