{% extends 'app_main/base.html' %}
{% load static %}

{% block content %}

    <h3>Traveler Profile</h3>
    <br>
    <div class="row">
        <div class="col-sm-3">
            {% if profile.photo %}
                <img src="{{profile.photo.url}}" alt="profile picture" width="90%"><br>
            {% endif %}
        </div>
        <div class="col-sm-9">
            <p>Traveler Name: {{ profile.user.first_name }} {{ profile.user.last_name }}</p>
            <p>Gender: {{ profile.gender }}</p>
            <p>Birth date: {{ profile.birth_date }} </p>
            <p>From: {{ profile.nationality }} </p>
            <p>Languages: {{ profile.languages.language }}</p>
            <p>Phone: {{ profile.phone }}</p>
            <p>Bio: {{ profile.bio }}</p>
        </div>
    </div>

{% endblock %}