{% extends 'app_main/base.html' %}
{% load static %}

{% block content %}

    <h3>Traveler Profile</h3>
    <br>
    <div class="row">
        <div class="col-sm-3">
            {% if profile.photo %}
                <img id='article-img' src="{{profile.photo.url}}" alt="profile picture" width="90%"><br>
            {% endif %}
        </div>
        <div class="col-sm-9">
            <div class="content-section">
                <div class="article-metadata">
                    <p><span class='text-muted'>Full Name: </span>{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
                </div>

                <div class="article-metadata">
                    <p><span class='text-muted'>Gender: </span> {{ profile.gender }}</p>
                </div>

                <div class="article-metadata">
                    <p><span class='text-muted'>Birth date: </span> {{ profile.birth_date }} </p>
                </div>

                <div class="article-metadata">
                    <p><span class='text-muted'>From: </span> {{ profile.nationality }} </p>
                </div>

                <div class="article-metadata">
                    <p><span class='text-muted'>Phone: </span> {{ profile.phone }}</p>
                </div>

                <div class="article-metadata">
                    <p><span class='text-muted'>Languages: </span>
                        <ul>
                            {% for v in lan %}
                                <li>{{v}}</li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>

                <div class="article-metadata">
                    <p><span class='text-muted'>Bio: </span></p>
                    <p>{{ profile.bio }}</p>
                </div>

                <div class="article-metadata">
                    <p><span class='text-muted'>Expertise: </span>
                        <ul>
                            {% for v in expertise %}
                                <li>{{v}}</li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>

                <div class="article-metadata">
                    <p><span class='text-muted'>Experience: </span></p>
                    <p>{{ profile.experience }}</p>
                </div>

            </div>
        </div>
    </div>

{% endblock %}