{% extends 'app_main/base.html' %}
{% load crispy_forms_tags%}
{% block content %}

    {% if user.type == '0' %}
        <span class="badge badge-primary">Traveler</span>
    {% elif user.type == '1' %}
        <span class="badge badge-success">Local Host</span>
    {% endif %}
    <br>

    <div class="progress">
      <div class="progress-bar bg-secondary" style="width:35%">
        Personal
      </div>
      <div class="progress-bar bg-secondary" style="width:35%">
        Expertise
      </div>
      <div class="progress-bar bg-primary" style="width:30%">
        Programs
      </div>
    </div>
    <br>

    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profiletraveler.photo.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>


    </div>

{% endblock content %}