{% extends 'app_main/base.html' %}
{% load static %}

{% block content %}

    <h3>List of Traveler Program for <span class='badge badge-primary'>{{ user.first_name }} {{ user.last_name }} </span> </h3>
    <br>
    <div class="row">
        <div class="col-sm-9">
            <div class="content-section">
                <ol>
                    {% for item in program %}
                    <li>

                        <div class="article-metadata">
                            <a href="{% url 'program_detail' item.id %}">{{item}}</a>
                        </div>

                    </li>
                    {% endfor %}
                </ol>

            </div>

        </div>
    </div>

{% endblock %}